/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 21, 2016, 2:31:40 PM
    Author     : Sameer
*/

.headerCol1{
    width: 15%;
    text-align: left;
}
.headerCol2{
    width: 10%;
}
.headerCol3{
    width: 50%;
    text-align: center;
}
.headerCol4{
    width: 10%;
}
.headerCol5{
    width: 15%;
    text-align: right;
}
